*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{background-color: lavender;
font-family: Arial, Helvetica, sans-serif;
color: midnightblue;
}
#top{
    color: antiquewhite;
    background-image: url(bannerweb.png);
    background-size:contain;
    width: 100%;
    height: 460px;
    font-size: 2em;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row ;
    justify-content:center ;
    align-items: center;
    padding:2vw 4vw;
    position: relative;
    margin-bottom: 1vw;
}
@media only screen and (max-width:480px){
    #top{
       padding:0vw 8vw;
       height:250px; 
    }
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left:2%;}
.logo img{
    max-height: 10vw;
    max-width: 10vw;
    width: auto;
    position: absolute;
    left: 2%;
    top:50%;
    transform: translateY(-50%);
}
@media screen and (max-width:480px){
    .logo img{
        max-height:15vw;
        left:5vw;
    }
}
.head{
    font-size:2em;
    color: antiquewhite;
    margin:0;
    text-align: center;
}
@media screen and (max-width:480px){
.head h1 {
        font-size: 1em;
        justify-content: center;
    }
}
nav{
    font-size: 1em;
    text-align:center;
    margin:1vw;
    margin-bottom: 3vw;
}
.nav li{
    display: inline;
    padding: 2vw;
    margin:2vw;
    font-size: 2em;
}
.nav a{
    text-decoration: none;
    color: midnightblue; 
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.nav a:hover{
    color:darkorange;
    text-decoration: wavy;
}
@media screen and (max-width:480px){
    .nav {
        font-size: 1em;
    }
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    justify-content: center;
}
.info {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.form {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto; 
}
.form img {
    width: 100%;
    height: auto; 
    border-radius: 8px;
}